@import "/src/style.scss";

.rightBar{
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");
    display: flex;

    @include mobile{
      display: none;
  }

    &::-webkit-scrollbar {
        display: none;
    }

    .main {
      height: 90vh;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      padding: 20px;

      .title{
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-evenly;
        align-items: center;

        button{
          height: 30px;
        }
      }

      .feed{
        overflow-y: scroll;
        height: 100vh;
        width: 90%;
        background-color: white;
        border: 1px solid black;
        box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
          rgba(0,0,0,0.05) 0 -12px 30px,
          rgba(0,0,0,0.05) 0 4px 6px,
          rgba(0,0,0,0.05) 0 12px 3px,
          rgba(0,0,0,0.05) 0 -3px 5px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        .feed::-webkit-scrollbar {
          display: none; /*Chrome, Safari, Opera*/
        }

        li {
          display: flex;
          background-color: lightblue;
          width: 100%;
          padding: 10px;
          margin: 10px 0;
          gap: 10px;
        }

        p{
          color: black;
          font-size: 14px;
          text-align: left;

          .role{
            min-width: 100px;
          }
        }
      }
      .bottom-section{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .input-container{
          position: relative;
          width: 100%;
          max-width: 400px;;

          input{
            width: 80%;
            border: 1px solid black;
            padding: 12px 15px;
            border-radius: 0%;
            box-shadow: rgba(0,0,0,0.05) 0 54px 55px,
              rgba(0,0,0,0.05) 0 -12px 30px,
              rgba(0,0,0,0.05) 0 4px 6px,
              rgba(0,0,0,0.05) 0 12px 3px,
              rgba(0,0,0,0.05) 0 -3px 5px;

            input:focus {
              outline: none;
            }
          }
          #submit{
            position: absolute;
            bottom: 12px;
            right: 0;
            cursor: pointer;

            img{
              width: 30px;
              height: 30px;
              object-fit: cover;
            }
          }
        .info{
          font-size: 11px;
          padding: 10px;
        }
        }
      }

    }

  
    // .chatContainer{
    //   padding: 20px;
    //   flex: display;
    //   flex-direction: column;
    //   align-items: center;
    //   gap: 10px;

    //   .item{
    //     -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    //     -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    //     box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    //     padding: 20px;
    //     margin-bottom: 20px;
    //     background-color: themed("bg");

    //     .chatBox{
    //       flex:3;
    //       padding: 25px;
    //       border: 1px solid black;
    //       text-align: left;
    //       height: 450px;
          
    //       .chatLog{
    //         display: flex;
    //         flex-direction: column;
    //         width: 100%;
    //         margin: auto;
    //         gap: 10px;
    //         align-items: center;

    //         .chatMessage{
    //           display: flex;
    //           flex-direction: row;
    //           gap: 20px;
    //           padding: 10px;
    //           width: 100%;

    //           .message{ 
    //             padding: 10px;
    //           }
    
    //           .profilePic{
    //             img{

    //               border-radius: 50%;
    //               width: 35px;
    //               height: 35px;
    //             }
    //           }

    //         }
    //         .chatMessageAI{
    //           display: flex;
    //           flex-direction: row;
    //           gap: 20px;
    //           padding: 10px;
    //           background-color: lightgrey;
    //           width: 100%;

    //           .message{ 
    //             padding: 10px;
    //           }
    
    //           .profilePic{
    //             img{

    //               border-radius: 50%;
    //               width: 35px;
    //               height: 35px;
    //               object-fit: cover;
    //             }
    //           }

    //         }
    //       }

    //     }

    //     form{
    //       flex: 1;
    //       display: flex;
    //       align-items: center;
    //       justify-content: space-between;
    //       margin: 20px 0px;
    //       background-color: white;

    //       width: 100%;
    //       height: 100%;


    //       input{
    //         width: 75%;           
    //       }
    //       button{
    //         img{
    //           width: 30px;
    //           height: 30px;
    //           object-fit: cover;
    //         }
    //       }
    //     }
    //   }

    // }
  }
}