@import "/src/style.scss";

.navbar {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    height: 40px;
    border-bottom: 1px solid themed("border");
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color:themed("textColor");
    z-index: 999;

    @include mobile{
      display: flex;
      justify-content: space-between;
    }

    //LEFT
    .left {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    //RIGHT
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 5px;

      .menu_icons {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px;

        @include mobile{
          display: none;
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        cursor: pointer;


        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          background-color: white;
          z-index: 999;
          border: 1px solid lightgrey;
          gap: 2px;
          width: 160px;
      
          tbody{
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-evenly;
          }

          tr{
            display: flex;
            flex-direction: row;
            gap: 10px;
          }

          td {
            display: flex;
            flex-direction: column;
            margin: 5px;
          }
        }
      }
    }
  } 
}