.blogPost{
  display: flex;
  gap: 50px;

  .content{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    img{
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .user{
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;

      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
      .info{

        .userName {
          font-weight: bold;
        }
      }

      .edit {
        display: flex;
        gap: 5px;
      }
    }

    h1 {
      font-size: 42px;
      color: #333;
    }

    p{
      text-align: justify;
      line-height: 30px;
    }
  }

  .menu{
    flex:2;
  }
}