.blog{

  .blogPosts{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 50px;

    .blogPost{
      display: flex;
      gap: 100px;

      &:nth-child(2n+1){
        flex-direction: row-reverse;
      }

      .img{
        flex: 2;
        position: relative;

        &::after{
          width: 100%;
          height: 100%;
          background-color: rgb(44, 183, 230);
          position: absolute;
          top: 30px;
          left: -30px;
          z-index: -1;
        }

        img{
          width:100%;
          max-height: 400px;
          object-fit: cover;
        }
      }

      .content{
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .link{
          text-decoration: none;
          color: inherit;

          h1{
            font-size: 48px;
          }

          p{
            font-size: 18px;
          }
          button{
            width: max-content;
            padding: 10px;
            border: none;
            cursor: pointer;
            background-color: white;
            border: 1px solid rgb(44, 183, 230);
            color: rgb(44, 183, 230);

            &:hover{
              border: 1px solid white;
              background-color:  rgb(44, 183, 230);
              color: black;
            }
          }
        }
      }
    }
  }
}